<h2 class="text-center text-uppercase " style="color:grey;">welcome <span>{{user}}</span></h2>
<h4 class="text-center text-uppercase " style="color:black ;">{{dateandtime |date :'short'}}</h4>
<div> 
    <a routerLink="/transaction" class="text-center text-uppercase p-3"
        style="background-color: grey; text-decoration: none; border-radius: 25px;color: white;">TRANSACTION HISTORY</a>
</div>
<!-- / for going back to localhost200 and goto trasaction -->





<form [ngClass]="acno?'style':''" (ngSubmit)="deposit()" [formGroup]="depositForm">

    <div class="container w-25 bg-light border rounded text-center p-2 mt-1 mb-2">
        <h3>DEPOSIT</h3>
        <input type="text" name="acno" formControlName="acno" class="form-control mt-4" placeholder="Enter acno" id="acid">
        <input type="password" name="psw"  formControlName="psw" class="form-control mt-4" placeholder="Enter password"
            id="pid">
        <input type="text" name="aamount1" formControlName="amnt" class="form-control mt-4" placeholder="Enter Amount"
            id="amount">
        <button type="submit" class="btn btn-primary mt-3 mb-3"> DEPOSIT</button>
    </div>
</form>

<app-deleteconfirm [item]="acno"></app-deleteconfirm>

<form [ngClass]="acno?'style':''"  (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
    <div class="container w-25 bg-light border rounded text-center p-2 mt-1">
        <h3>WITHDRAW</h3>
        <input type="text" name="acno1" formControlName="acno1" class="form-control mt-4" placeholder="Enter acno"
            id="acid1">
        <input type="password" name="psw1" formControlName="psw1" class="form-control mt-4" placeholder="Enter password"
            id="pid1">
        <input type="text" name="amount1" formControlName="amnt1" class="form-control mt-4" placeholder="Enter Amount"
            id="amount1">
        <button type="submit" class="btn btn-primary mt-3 mb-3"> WITHDRAW</button>
    </div>
</form>
<div  class="text-end p-3">
    <button  type="button" (click)="logout()" class="btn btn-danger "> LOGOUT</button>
</div>

<div class="text-end p-3">
    <button (click)="deleteconfirm()" type="button" class="btn btn-success "> DELETE</button>
</div>


